#忽略jquery.min.js
jquery.min.js

#忽略index.jsp
index.jsp

#忽略readme.txt
readme.txt

#忽略.gitignore
#.gitignore

jquery.easyui.extend.js

#忽略demo、locale、plugins、src、themes、tool、WEB-INF目录
demo/
locale/
plugins/
src/
themes/
tool/
WEB-INF/

